root:
    path:     /
    defaults: 
        _controller: FrameworkBundle:Redirect:Redirect
        route: fos_user_security_login
        permanent: true

servicio_index:
    path:     /servicio
    defaults: { _controller: "MonitorBundle:Servicio:index" }
    methods:  GET

servicio_show:
    path:     /{id}/show
    defaults: { _controller: "MonitorBundle:Servicio:show" }
    methods:  GET

servicio_new:
    path:     /new
    defaults: { _controller: "MonitorBundle:Servicio:new" }
    methods:  [GET, POST]

servicio_edit:
    path:     /{id}/edit
    defaults: { _controller: "MonitorBundle:Servicio:edit" }
    methods:  [GET, POST]

servicio_delete:
    path:     /{id}/delete
    defaults: { _controller: "MonitorBundle:Servicio:delete" }
    methods:  DELETE
    
servicio_check:
    path:     /servicio/check
    defaults: { _controller: "MonitorBundle:Servicio:check" }
    methods:  [POST]    

servicio_body:
    path:   /servicio/body
    defaults: { _controller: "MonitorBundle:Servicio:body" }
    methods:  [GET]    
    
servicio_assign:
    path:   /{id}/assign
    defaults: { _controller: "MonitorBundle:Servicio:assign" }
    methods:  [GET,POST]        
    
servicio_finish:
    path:   /{id}/finish
    defaults: { _controller: "MonitorBundle:Servicio:finish" }
    methods:  [GET,POST]    
    
servicio_desa:
    path:   /{id}/desa
    defaults: { _controller: "MonitorBundle:Servicio:desa" }
    methods:  [GET,POST]      
    
servicio_test:
    path:   /{id}/test
    defaults: { _controller: "MonitorBundle:Servicio:test" }
    methods:  [GET,POST]      
    
servicio_pap:
    path:   /{id}/pap
    defaults: { _controller: "MonitorBundle:Servicio:pap" }
    methods:  [GET,POST]      