{% extends 'base.html.twig' %}
{% block body %}
    <h1>Servicio list</h1>

    <table id="servicios" class="display table-striped">
        <thead>
            <tr>                
                <th width="8%">N°Servicio</th>                                
                <th width="12%">Fecha Reporte</th>                                             
                <th width="10%">Origen</th>
                <th width="12%">Tipo Servicio</th>                
                <th width="10%">Prioridad</th>
                <th width="8%">Estado</th>
                <th width="15%">Acciones</th>
                <th width="5%">Show/Edit</th>                
            </tr>
        </thead>
        <tbody>        
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servicio_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script>
    
    $('#servicios').dataTable({
        bPaginate: false,
        bJQueryUI: false,
        bServerSide: true,
        sAjaxSource: '{{ path('servicio_body') }}',
        sServerMethod: 'GET',
        bProcessing: true,
        aoColumnDefs: [
                {
                aTargets: [0,1,2,3,4,5,6],
                class: 'cols'
                }                
            ]
    });
    
</script>
{% endblock %}
